{% extends "base.html" %}

{% block head_content %}
<title>@{{ user.username }} | Platzigram</title>
{% endblock %}

{% block container %}

    <div class="container mb-5" style="margin-top: 8em;">
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center">
                <img src="{{ user.profile.picture.url }}" alt="@{{ user.username}}" class="rounded-circle" width="150px" />
            </div>
            <div class="col-sm-8">
                <h2 style="font-weight: 100;">
                    {{ user.username }}
                    {% if user == request.user %}
                        <a
                            href="{% url "users:update" %}"
                            class="ml-5 btn btn-sm btn-outline-info"
                        >
                            Edit profile
                        </a>
                    {% else %}
                        <a
                            href=""
                            class="ml-5 btn btn-sm btn-primary"
                        >
                            Follow
                        </a>
                    {% endif %}
                </h2>
                <div class="row mt-2" style="font-size: 1.2em">
                    <div class="col-sm-4">
                        <b>{{ user.profile.posts_count }}785</b> posts
                    </div>
                    <div class="col-sm-4">
                        <b>{{ user.profile.followers }}1,401</b> followers
                    </div>
                    <div class="col-sm-4">
                        <b>{{ user.profile.following }}491</b> following
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <p>{{ user.profile.biography }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    {% for post in post %}
               <div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
                   <div class="media pt-3 pl-3 pb-1">
                   <a href="{% url "users:detail" post.users.username  %">
                       <img class="mr-3 rounded-circle" height="35" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}">
                       <div class="media-body">
                           <p style="margin-top: 5px;">{{ post.user.get_full_name  }}</p>
                       </div>
                   </a>
                   </div>

                   <img style="width: 100%;" src="{{ post.photo.url }}" alt="{{ post.title }}">

                   <p class="mt-1 ml-2" >
                       <a href="" style="color: #000; font-size: 20px;">
                           <i class="far fa-heart"></i>
                       </a> 30 likes
                   </p>
                   <p class="ml-2 mt-0 mb-2">
                       <b>{{ post.title }}</b> - <small>{{ post.created }}</small>
                   </p>
               </div>
       {% endfor %}
{% endblock %}
